.about {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 auto;
  padding-left: 250px;
  padding-right: 60px;
  color: #666666;

  &::before {
    content: url("../../img/2005.svg");
    position: absolute;
    width: 370px;
    height: 220px;
    left: -30px;
    top: 30px;
  }
}

.about__title {
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
}

.about__info {
  font-family: "PT Mono", "Arial", monospace;
  font-size: 16px;
  line-height: 22px;
  margin-top: 0;
}
