.about {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 auto;
  padding-left: 180px;
  color: #666666;
}

.about h2 {
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  margin-top: 0;
  margin-bottom: 23px;
}

.about p {
  font-family: "PT Mono", "Arial", monospace;
  font-size: 16px;
  line-height: 22px;
  margin-top: 0;
  margin-bottom: 20px;

  &::before {
    content: url("../../img/2005.svg");
    position: absolute;
    width: 220px;
    height: 317px;
    left: -30px;
    top: 6px;
  }
}

@media (max-width: $tablet-width) {
  .about {
    padding-left: 186px;
  }

  .about p {
    &::before {
      content: url("../../img/2005-tablet.svg");
      left: 3px;
      top: 8px;
    }
  }

  .about h2 {
    font-size: 32px;
    line-height: 140.62%;
    margin-bottom: 28px;
  }
}

@media (max-width: $mobile-width) {
  .about {
    padding-left: 0;
  }

  .about h2 {
    font-size: 28px;
    margin-bottom: 23px;
  }

  .about p {
    margin-bottom: 42px;

    &::before {
      content: none;
    }
  }

  .about-info {
    margin-bottom: 16px;
  }
}
