.about {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 auto;
  padding-left: 177px;
  color: #666666;

  &::before {
    content: url("../../img/2005.svg");
    position: absolute;
    width: 370px;
    height: 220px;
    left: -30px;
    top: 30px;
  }
}

.about h2 {
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  margin-top: 0;
}

.about p {
  font-family: "PT Mono", "Arial", monospace;
  font-size: 16px;
  line-height: 22px;
  margin-top: 0;
}

@media (max-width: $tablet-width) {
  .about {
    &::before {
      content: url("../../img/2005-tablet.svg");
      left: 0;
      top: 10px;
    }
  }

  .about h2 {
    font-size: 32px;
    line-height: 140.62%;
  }

  .about__info {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
  }
}
