.container {
  width: 61%;
  margin: 0 auto;
}

.container--page-header {
  width: 73.4%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 30px;
  color: #ffffff;
}

.container--main-screen {
  width: 74%;
  display: flex;
  margin: 0 auto;
  color: #ffffff;
}

.container--info {
  display: flex;
  flex-direction: column;
  padding-top: 110px;
  padding-bottom: 111px;
}

.container--features {
  padding: 58px 0 127px;
}

.container--form-question {
  width: 61%;
  display: flex;
  justify-content: flex-end;
  padding-top: 91px;
  padding-bottom: 114px;
}

.container--page-footer {
  width: 73.6%;
  display: flex;
  justify-content: space-between;
  padding-top: 65px;
  padding-bottom: 24px;
  position: relative;
}

.container--footer-main {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  margin-left: 204px;
}

.container--footer-copyright {
  width: 73.6%;
  border-top: 1px solid #e5e5e5;
  padding: 14px 0;
}

@media (max-width: $tablet-width) {
  .container {
    width: 93.5%;
  }

  .container--page-header {
    padding-top: 20px;
  }

  .container--main-screen {
    padding-bottom: 164px;
  }


  .container--info {
    padding-top: 54px;
    padding-bottom: 82px;
  }

  .container--features {
    padding-bottom: 78px;
    padding-top: 23px;
  }

  .container--form-question {
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 105px;
  }

  .container--page-footer {
    flex-direction: column;
    padding-top: 19px;
    padding-bottom: 19px;
  }

  .container--footer-main {
    width: 100%;
    margin: 0;
    padding-top: 37px;
  }

  .container--footer-copyright {
    padding: 21px 0;
  }
}

@media (max-width: $mobile-width) {
  .container {
    width: 90.7%;
  }

  .container--page-header {
    padding-top: 15px;
  }

  .container--main-screen {
    padding-bottom: 69px;
  }

  .container--info {
    padding-top: 37px;
    padding-bottom: 65px;
  }

  .container--features {
    padding-bottom: 64px;
    padding-top: 27px;
  }

  .container--form-question {
    padding-top: 30px;
    padding-bottom: 43px;
  }

  .container--page-footer {
    padding-top: 50px;
  }

  .container--footer-main {
    width: 100%;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 30px;
  }

  .container--footer-copyright {
    padding-top: 10px;
  }
}
