.copyright {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  text-transform: uppercase;
  opacity: 0.5;
}

@media (max-width: $tablet-width) {
  .copyright__item:first-child {
    display: none;
  }
}
