.footer-aside {
  display: flex;
  flex-direction: column;
}

.footer-aside__info {
  position: absolute;
  bottom: -53px;
  left: 222px;
  text-transform: uppercase;
  font-family: "PT Mono", "Arial", monospace;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  opacity: 0.5;
}

.footer-aside__social {
  margin-top: 50px;
}

@media (max-width: $tablet-width) {
  .footer-aside {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 22px;
  }

  .footer-aside__logo-image {
    width: 216px;
    height: 52px;
  }

  .footer-aside__info {
    position: static;
    margin: 0;
  }

  .footer-aside__social {
    margin: 0;
  }
}

@media (max-width: $mobile-width) {
  .footer-aside {
    flex-direction: column;
    padding-bottom: 50px;
  }

  .footer-aside p {
    padding-top: 20px;
    padding-bottom: 30px;
  }
}
