.list-contacts {
  width: 70%;
  display: flex;

  list-style: none;
  line-height: 18px;
  padding: 0;
  flex-wrap: wrap;

  font-family: "PT Mono", "Arial", monospace;
  font-size: 16px;
}

.list-contacts__mail {
  position: relative;
  flex: 1 1 auto;

  &::before {
    position: absolute;
    content: url("../../img/letter.svg");
    top: 18px;
    left: -40px;
  }
}

.list-contacts__tel {
  position: relative;
  margin-left: 10%;
  flex: 1 1 auto;

  &::before {
    position: absolute;
    content: url("../../img/phone-call.svg");
    top: 18px;
    left: -40px;
  }
}


@media (max-width: $tablet-width) {
  .list-contacts {
    width: 300px;
    margin: 0;
  }

  .list-contacts__item {
    display: none;
  }

  .list-contacts__mail::before {
    content: url("../../img/letter1.svg");
    top: -15px;
    left: 5px;
  }

  .list-contacts__tel::before {
    content: url("../../img/phone-call1.svg");
    top: -18px;
    left: 10px;
  }
}
