.list-contacts {
  position: relative;
  width: 65%;
  display: flex;

  list-style: none;
  line-height: 18px;
  padding: 0;
  margin: 2px 0 0 15px;

  font-family: "PT Mono", "Arial", monospace;
  font-size: 16px;
}

.list-contacts__mail {
  position: relative;
  flex: 1 1 auto;

  &::before {
    position: absolute;
    content: url("../../img/letter.svg");
    top: 17px;
    left: -40px;
  }
}

.list-contacts__tel {
  position: relative;
  margin-left: 100px;
  flex: 1 1 auto;

  &::before {
    position: absolute;
    content: url("../../img/phone-call.svg");
    top: 16px;
    left: -35px;
  }
}


@media (max-width: $tablet-width) {
  .list-contacts {
    width: 300px;
    margin: 0;
  }

  .list-contacts__item {
    display: none;
  }

  .list-contacts__mail::before {
    content: url("../../img/letter1.svg");
    top: 15px;
    left: 25px;
  }

  .list-contacts__tel::before {
    content: url("../../img/phone-call1.svg");
    top: 12px;
    left: -21px;
  }
}
