.main-screen {
  width: 51%;
  position: relative;
  display: flex;
  margin: 0;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 250px;
  padding-bottom: 278px;
}

.main-screen h1 {
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  margin: 0;
}

.main-screen p {
  position: relative;
  font-family: "PT Mono", "Arial", monospace;
  font-size: 22px;
  line-height: 34px;
  padding-left: 97px;

  &::before {
    position: absolute;
    content: url("../../img/dash.svg");
    width: 66px;
    height: 2px;
    top: -5px;
    left: 0;
  }
}

.main-screen__scroll {
  text-decoration: none;
  position: absolute;
  transform: rotate(-90deg);
  bottom: 92px;
  left: -30px;
  color: #ffffff;
  opacity: 0.5;
}


@media (max-width: $tablet-width) {
  .main-screen {
    width: 470px;
    padding-top: 116px;
    padding-bottom: 0;
    margin-left: 68px;
  }

  .main-screen h1 {
    font-size: 60px;
    line-height: 70px;
    letter-spacing: 0.07em;
  }

  .main-screen p {
    padding-left: 47px;
    font-size: 18px;
    line-height: 156.8%;

    &::before {
      content: url("../../img/dash-tablet.svg");
      width: 33px;
    }
  }

  .main-screen__scroll {
    display: none;
  }
}

@media (max-width: $mobile-width) {
  .main-screen {
    width: 100%;
    margin-top: 200px;
    margin-left: 0;
  }

  .main-screen h1 {
    font-size: 40px;
    line-height: 47px;
  }

  .main-screen p {
    font-size: 16px;
    line-height: 25px;
    padding-left: 50px;
  }
}
