.main-info {
  max-width: 1200px;
  display: flex;
  margin: 0 auto;
  justify-content: flex-start;
}

.main-info__wrapper {
  width: 718px;
  display: flex;
  margin: 100px 0 268px;
  flex-direction: column;
  justify-content: flex-start;
}

.main-info__title {
  font-weight: bold;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  margin-bottom: 0;
}

.main-info__service {
  position: relative;
  font-family: "PT Mono", "Arial", monospace;
  font-size: 22px;
  line-height: 34px;
  padding-left: 97px;
}

.main-info__service::before {
  position: absolute;
  content: url("../../img/dash.svg");
  width: 66px;
  height: 2px;
  top: -5px;
  left: 0;
}


@media (max-width: $tablet-width) {
  .main-info {
    width: 800px;
  }

  .main-info__wrapper {
    width: 470px;
  }

  .main-info__title {
    font-size: 60px;
    line-height: 70px;
    letter-spacing: 0.07em;
  }

  .main-info__service {
    padding-left: 97px;
    font-size: 18px;
    line-height: 156.8%;
  }

  .main-info__service::before {
    content: url("../../img/dash-tablet.svg");
    height: 2px;
    width: 33px;
  }
}

@media (max-width: $mobile-width) {
  .main-info {
    width: 270px;
    margin-top: 200px;
  }

  .main-info__wrapper {
    width: 100%;

  }

  .main-info__title {
    font-size: 40px;
    line-height: 47px;
  }

  .main-info__service {
    font-size: 16px;
    line-height: 25px;
    padding-left: 50px;
  }
}
