.menu__toggle {
  display: none;
}

.menu-list {
  height: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 0;
}

@media (max-width: $tablet-width) {
  .menu-list {
    height: 100%;
    flex-wrap: nowrap;
  }
}

@media (max-width: $mobile-width) {
  .menu__toggle {
    position: absolute;
    right: 15px;

    display: block;
    width: 16px;
    height: 16px;
    background-color: transparent;
    cursor: pointer;
    border: none;

    &--opened {
      background-image: url("../../img/icon-menu-open.svg");
      background-repeat: no-repeat;
      top: 220px;
    }

    &--closed {
      background-image: url("../../img/icon-menu-close.svg");
      top: 210px;
    }
  }

  .page-footer__menu--closed .menu-list__item {
    display: none;
  }

  .page-footer__menu--nojs .menu__toggle {
    display: none;
  }

  .page-footer__menu--nojs {
    position: static;
    min-height: 0;
  }

  .page-footer__menu--nojs .menu-list__item {
    display: block;
  }
}
