.menu__toggle {
  display: none;
}

.menu-list {
  height: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 0;
}

@media (max-width: $tablet-width) {
  .menu-list {
    height: 100%;
    flex-wrap: nowrap;
  }
}

@media (max-width: $mobile-width) {
  .menu__toggle {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;

    display: block;
    width: 16px;
    height: 16px;
    background-color: transparent;
    cursor: pointer;
    border: none;

    &--opened {
      background-image: url("../../img/icon-menu-open.svg");
      background-repeat: no-repeat;
      background-position: center;
    }

    &--closed {
      background-image: url("../../img/icon-menu-close.svg");
    }
  }
}
