.page-footer {
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  position: relative;
}

.page-footer__wrapper {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 65px auto 60px;
}

.page-footer__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page-footer__logo-image {
  width: 216px;
  height: 52px;
}

.page-footer__main-container {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.page-footer__menu {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0 80px;
}

.page-footer__info {
  position: absolute;
  bottom: 2px;
  left: 300px;
  text-transform: uppercase;
  opacity: 0.5;
}

.page-footer__header {
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  margin-top: 0;
  text-transform: uppercase;
}

.page-footer__copyright {
  border-top: 1px solid #e5e5e5;
  padding: 14px 0;
}

@media (max-width: $tablet-width) {
  .page-footer__container {
    flex-direction: row;
    align-items: center;
    margin-bottom: 26px;
    border-bottom: 1px solid #e5e5e5;
  }

  .page-footer__wrapper {
    flex-direction: column;
    margin-top: 19px;
    margin-bottom: 10px;
  }

  .page-footer__info {
    position: static;
  }

  .page-footer__menu {
    flex-grow: 0;
    margin: 0;
  }
}

@media (max-width: $mobile-width) {
  .page-footer__menu {
    position: relative;
  }
}
