.page-footer {
  display: flex;
  flex-direction: column;
  position: relative;
}

.page-footer__wrapper {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 65px auto 60px;
}

.page-footer__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page-footer__main-container {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.page-footer__menu {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0 80px;
}

.page-footer__info {
  position: absolute;
  bottom: 2px;
  left: 300px;
  text-transform: uppercase;
  font-family: "PT Mono", "Arial", monospace;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  opacity: 0.5;
}

.page-footer__header {
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  margin-top: 0;
  text-transform: uppercase;
}

.page-footer__copyright {
  border-top: 1px solid #e5e5e5;
  padding: 14px 0;
}

.page-footer__form-question {
  color: #ffffff;
  background-image: url("../../img/flight.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: $tablet-width) {
  .page-footer__container {
    flex-direction: row;
    align-items: center;
    margin-bottom: 26px;
    border-bottom: 1px solid #e5e5e5;
  }

  .page-footer__wrapper {
    flex-direction: column;
    margin-top: 19px;
    margin-bottom: 10px;
  }

  .page-footer__logo-image {
    width: 216px;
    height: 52px;
  }

  .page-footer__info {
    position: static;
  }

  .page-footer__menu {
    flex-grow: 0;
    margin: 0;
  }
}

@media (max-width: $mobile-width) {
  .page-footer__container {
    flex-direction: column;
  }

  .page-footer__main-container {
    flex-direction: column;
    margin: 0 auto;
  }

  .page-footer__menu {
    position: relative;
  }

  .page-footer__header--address {
    position: relative;

    &::after {
      position: absolute;
      content: url("../../img/icon-menu-open.svg");
      bottom: 5px;
      right: 0;
    }
  }

  .page-footer__menu--closed .menu-list__item {
    display: none;
  }

  .page-footer__menu--nojs .menu__toggle {
    display: none;
  }

  .page-footer__menu--nojs {
    position: static;
    min-height: 0;
  }

  .page-footer__menu--nojs .menu-list__item {
    display: block;
  }
}
