.wrapper {}

.wrapper--info {
  background-image: url("../../img/triangles.jpg");
  background-position: -70px -10px;
  background-repeat: no-repeat;
  background-size: contain;
}

.wrapper--form-question {
  color: #ffffff;
  background-image: url("../../img/flight.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #00b2ff;
}

.wrapper--features {
  background-color: #1b2d37;
}

@media (max-width: $tablet-width) {
  .wrapper--info {
    background-image: url("../../img/triangles-tablet.jpg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .wrapper--form-question {
    background-image: none;
  }
}
