.wrapper {
  width: 100%;
}

.wrapper--page-header {
  background-image: url("../../img/board.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #1b2d37;
}

.wrapper--info {
  background-image: url("../../img/triangles.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper--form-question {
  color: #ffffff;
  background-image: url("../../img/flight.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #00b2ff;
}

.wrapper--features {
  background-color: #1b2d37;
}

.wrapper--page-footer {
  background-color: #fafafa;
}

@media (max-width: $tablet-width) {
  .wrapper--page-header {
    background-image: url("../../img/board-desktop.jpg");
  }

  .wrapper--info {
    background-image: url("../../img/triangles-tablet.jpg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .wrapper--form-question {
    background-image: none;
  }
}

@media (max-width: $mobile-width) {
  .wrapper--page-header {
    background-image: url("../../img/board-mobile.jpg");
  }
}
